
body{
   
    text-align: center;
    margin: 0;
    /* display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; */
}

#calculator{
    /* border: 5px solid black; */



    border-radius: 20px;
    height: 400px;
    width: 200px;
    background-color: black;
    text-align: right;
    font-size: 35px;
    background-color:purple;
    
    
   
}
#equal{
    background-color: rgb(0, 238, 255);
    
}
#screen{
   
    border-radius: 10px;
    height: 150px;
    margin: 10px;
    color: black;
    background-color: white;

    word-wrap: break-word;
    overflow: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular'
    ,'Lucida Grande', 'Lucida Sans Unicode'
    , Geneva, Verdana, sans-serif;
    color: gray;
    font-weight: lighter;
    
}
#ac{
    background-color: red;
}
#back{
    background-color: orange;
}
#press{
    /* border: 3px solid; */
    height: 200px;
    margin: 10px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
}
#over{
    display: flex;
    justify-content: center;
}

.btn{
    opacity: 0.6;
    border-radius: 15px;
    /* /border: 2px solid rgb(230, 230, 230);
    height: 30px;
    width: 30px;
    margin: 5px;
    border-radius: 6px; */
    
    /* background-color: aqua; */
}